.form {
	width: 250px;
}

.form__title {
	margin-bottom: 0.5em;
}
.form__content {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.form__group {
	display: flex;
	flex-direction: column;
}
.form__label {
	font-weight: 600;
	font-size: small;
}
.form__input {
	background-color: #ffccd5;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5em 0.75em;
}
.from__submit {
	background-color: #ff4d6d;
	border: 1px solid #c9184a;
	outline: 1px solid #fff;
	outline-offset: -2px;
	color: #fff;
	font-weight: 400;
	padding: 0.25em 1.25em;
	width: 100%;
}
